#extended_description {
}

#extended_description .description-row {
  height: 10em;
  border-bottom: 0.5px solid;
  padding-top: 15px;
  align-items: center;

  display: flex;
  justify-content: space-around;
  padding: 5em;
}

#extended_description .description-row-textarea {
  height: 6em;
  width: 50%;
}

#extended_description .description-row input {
  height: 6em;
  width: 50%;
}
#extended_description .description-row .img-description {
  width: 8em;
}
